/** very basic calendar styling */
table.calendar-block {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid rgba(0,0,0,.05);
  width: 100%;
}

.calendar-block td,
.calendar-block th {
  font-size: 1em;
  line-height: 1.8em;
  height: 2.2em; 
  min-width: 1em;
  text-align:center;
  border: 1px solid rgba(0,0,0,.05);
}

.calendar-inactive { 
	color: rgba(0,0,0,.2); 
}

/** page style */
body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.calendar-container {
  font-weight: 100;
  min-width: 340px;
}

.calendar-block th {
  line-height: 2.6em;
  color: #fff;
  background-color: #03a9f4;
  font-variant: small-caps;
}

